[Unit]
Description=Automatically mount, unmount, and remount NFS shares.
After=syslog.target
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/nfs_automount

[Install]
WantedBy=multi-user.target
